.total {
  display: flex;
  width: 100%;
  height: 100vh;
}

.page {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#upper {
    width:100%;
    height:20%;
    /* color: white; */
  text-align: center;
  margin-bottom: 20px;
  /* background-color: lightblue; */
}

.image-side {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
